/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary

*.md linguist-detectable=true
*.md linguist-documentation=false
*.md linguist-language=Markdown

*.yml linguist-detectable=true
*.yml linguist-documentation=false
.github/workflows/build-lint-doc.yml linguist-language=YAML