/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary

*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false

.github/workflows/build-lint-doc.yml linguist-language=YAML